// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Layout
#app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

// Navbar
#navbar {
    ul {
        li {
            a {
                text-transform: capitalize;
                color: #a9aaaa;
                font-size: 1rem;
                transition: 0.3s;

                &:hover {
                    color: #222323;
                }
            }

            .active {
                color: #222323;
            }
        }
    }
}

.logo {
    color: $primaryColor;
    font-size: 1.5rem;
    font-weight: 600;

    &:hover {
        color: $primaryColor !important;
        text-decoration: none;
    }
}

// Banner
.banner {
    min-height: 170px;
}

// Home Page Banner
#home-banner {
    background-color: $primaryColor;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
        inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
    color: white;

    h1 {
        font-size: 3.5rem;
        font-weight: 600;
        margin: 0;
    }

    p {
        font-size: 1.3rem;
    }
}

.page {
    margin-top: 2rem;
}

.auth-link {
    color: $primaryColor;
    opacity: 0.7;
    font-size: 1rem;

    &:hover {
        opacity: 1;
        color: $primaryColor;
        text-decoration: underline;
    }
}
